* {
    text-decoration: none;
    list-style: none;
}

.container {
    width: 1100px;
    margin: 0 auto;
    /*background-color: gray;*/
}

.bg-image {
    background-image: url("../images/background-image.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}



.milan-logo {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    /*padding-right: 15px;*/
}

.number-email {
    color: white;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logo {
    margin-right: 15px;
}

.milan {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
    /*padding-bottom: 10px;*/
}

.holidays {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: left;
}

.number-email {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.email {
    padding-bottom: 5px;
}


/*.nav-top {*/
    /*padding-top: 50px;*/
/*}*/

/*.logo-milan {*/
    /*float: left;*/
/*}*/

/*.nav-text-near-logo {*/
    /*!*padding-left: 20px;*!*/
    /*!*display: flex;*!*/
    /*!*justify-content: flex-start;*!*/
    /*font-family: Verdana, sans-serif;*/
    /*color:  #ffffff;*/
    /*font-size: 29px;*/
    /*font-weight: 700;*/
    /*line-height: 21px;*/
    /*text-align: left;*/
/*}*/

/*span {*/
    /*font-family: Verdana, sans-serif;*/
    /*color:  #ffffff;*/
    /*font-size: 18px;*/
    /*font-weight: 700;*/
    /*line-height: 21px;*/
    /*text-align: left;*/
/*}*/

/*.text-holidays {*/
    /*font-family: Verdana, sans-serif;*/
    /*color:  #ffffff;*/
    /*font-size: 18px;*/
    /*font-weight: 700;*/
    /*line-height: 21px;*/
    /*text-align: left;*/
/*}*/
/**/
/*.text {*/
    /*padding-left: 20px;*/
/*}*/
/**/
/*.nav-text-near-logo, .email {*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
/*}*/
/**/
/*.text-holidays, .phone {*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
/*}*/
/**/
/*.email {*/
    /*font-family: Verdana, sans-serif;*/
    /*color:  #ffffff;*/
    /*font-size: 18px;*/
    /*font-weight: 400;*/
    /*line-height: 21px;*/
    /*text-align: left;*/
/*}*/
/**/
/*.phone {*/
    /*font-family: Verdana, sans-serif;*/
    /*color:  #ffffff;*/
    /*font-size: 18px;*/
    /*font-weight: 400;*/
    /*line-height: 21px;*/
    /*text-align: left;*/
/*}*/

.images-first-row {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.images-second-row {
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
}

.text-under-image {
    font-family: Verdana;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}

.text-first-row, .text-second-row {
    padding-top: 22px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    padding-top: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
}
